@page
@model Mission09_koletonm.Pages.OrderCompleteModel

@* Order confirmation page that will take the user back to the home with the click of the button **@

<div class="text-center">
    <h2> Thank you! Your order has been placed!</h2>
    <br /><br />
    <a class="btn btn-primary text-white" asp-controller="Home">Return Home</a>
</div>