@{
    ViewData["Title"] = "My Bookstore";
}

@model BooksViewModel
<!--
    Created by: Koleton Murray
    Project: Mission 9 - Online Bookstore
-->

<h1>Oh, hello there!</h1>
<br />

<!-- Goes through each book located in the Book model and spits out all the data on the page as layed out below -->

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}

<br />
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1 text-center">
</div>