@{
}

@model IEnumerable<String>

<div class="d-grid gap-2">
    <a class="btn btn-block btn-outline-secondary" asp-controller="Home" asp-action="Index" asp-route-category="" asp-route-pageNum="1">Home</a>

    @foreach (string c in Model)
    {
        <a class="btn btn-block @(ViewBag.SelectedCat == c ? "btn-primary" : "btn-outline-secondary")" asp-controller="Home" asp-action="Index" asp-route-category="@c" asp-route-pageNum="1">@c</a>
    }
</div>